.button {
    background-color: blue;
}

.disabled {
    background-color: darkseagreen;
    pointer-events: none;
}

.secondary {
}

.default {
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
